<?xml version="1.0" encoding="UTF-8"?>
<!-- Rsa Create Installer Template                 -->
<!-- Name: RsaToolbox DirectX                      -->
<!-- Ver:  1.0                                     -->
<!-- Guid: 1f4941ee-e212-4e1d-bb14-e9fe3ec140e6    -->
<!-- Instruments: Vna(Zva, Znb)                    -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="3F26BF96-E515-42D7-BA7B-31B7ADCB6937" Name="R&amp;S PA Compression Test" Language="1033"
    Version="1.4" Manufacturer="Rohde &amp; Schwarz"
    UpgradeCode="699b0972-99de-4286-9686-b8cea86158b9">
		
		<Package InstallerVersion="200"
      Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\R&amp;S Terms and Conditions for Royalty-Free Products.rtf" />
    <WixVariable Id="WixUIBannerBmp"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Images\RsBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Images\RsDialog.bmp" />

    <Feature Id="AppFeature" Title="R&amp;S PA Compression Test"
      Description="Uses a Rohde &amp; Schwarz VNA to measure the compression point of an amplifier" Level="1">
      <ComponentRef Id="ExecutableComponent" />
      <ComponentRef Id="QtRuntime" />
      <ComponentRef Id="QtPlatformPlugin" />
      <ComponentRef Id="Licenses" />
      <ComponentRef Id="LogsAndSettings" />
      <ComponentRef Id="MsvcRuntime" />
      <ComponentRef Id="QCustomPlots" />
      <ComponentRef Id="QuaZip" />
      <ComponentRef Id="RsVisa" />
      <ComponentRef Id="ShortcutsComponent" />
    </Feature>
    
    <Property Id="ARPPRODUCTICON"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Icons\Rs.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>

  <!-- Directory structure -->
  <Fragment>
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />
    <SetDirectory Id="ZNBExternalToolsFolder"
      Value="[WindowsVolume]\Users\Public\Documents\Rohde-Schwarz\Vna\External Tools\" />
    <SetDirectory Id="ZVAExternalToolsFolder"
      Value="[WindowsVolume]\Rohde&amp;Schwarz\Nwa\External Tools\" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="ProgramFilesFolder">
          <Directory Id="CompanyFilesFolder" Name="Rohde-Schwarz">
            <Directory Id="INSTALLFOLDER" Name="PA Compression Test">
              <Directory Id="PlatformsFolder" Name="platforms" />
              <Directory Id="LicensesFolder" Name="Licenses" />
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationStartMenuFolder"
            Name="R&amp;S PA Compression Test" />
        </Directory>
      </Directory>
      <Directory Id="ZNBExternalToolsFolder" />
      <Directory Id="ZVAExternalToolsFolder" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CompanyDataFolder" Name="Rohde-Schwarz">
          <Directory Id="MyAppDataFolder" Name="PA Compression Test">
            <Directory Id="SettingsFolder" Name="Settings" />
          </Directory>
        </Directory>
      </Directory>
      </Directory>
  </Fragment>

  <!-- Application Components -->
  <Fragment>
    <!-- Application files -->
    <Icon Id="Rs.ico" SourceFile="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer/Icons/Rs.ico" />
    <Component Id="ExecutableComponent" Guid="623EF5E1-0975-4E27-B67D-C6E2240E83E8"
      Directory="INSTALLFOLDER">
      <File Id="AppExecutable" Name="R&amp;S PA Compression Test.exe"
        Source="C:\Users\lalic\Documents\Qt\build-PACompressionTest-Desktop_Qt_5_2_1_MSVC2010_32bit-Release\release\PACompressionTest.exe" KeyPath="yes">
        <Shortcut Id="ZNBShortcut" Name="Compression Test"
          Directory="ZNBExternalToolsFolder" Advertise="yes" Icon="Rs.ico" />
        <Shortcut Id="ZVAShortcut" Name="Compression Test"
          Directory="ZVAExternalToolsFolder" Advertise="yes" Icon="Rs.ico" />
      </File>
    </Component>
    <Component Id="Licenses" Guid="9F58133C-5BEF-46AB-8445-6493A5EEEE1B" Directory="LicensesFolder">
      <File Id="RsaLicense"
        Name="R&amp;S Terms and Conditions for Royalty-Free Products.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\R&amp;S Terms and Conditions for Royalty-Free Products.txt"
        KeyPath="yes" />
      <File Id="MsvcLicense"
        Name="Microsoft Visual C++ 2010 License.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\Microsoft Visual C++ 2010 License.txt" />
      <File Id="QCustomPlotLicense"
        Name="QCustomPlot - GNU General Public License Version 3.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\QCustomPlot - GNU General Public License Version 3.txt" />
      <File Id="Qt5License"
        Name="Qt 5 - GNU Lesser General Public License Version 2.1.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\Qt 5 - GNU Lesser General Public License Version 2.1.txt" />
      <File Id="QuaZIPLicense"
        Name="QuaZip - GNU General Public License v2.1.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\QuaZip - GNU General Public License v2.1.txt" />
      <File Id="ZLibLicense"
        Name="ZLib Copyright and Terms and Conditions.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\ZLib Copyright and Terms and Conditions.txt" />
    </Component>
    <Component Id="RsVisa" Guid="6AC55909-19DF-42E8-A334-1FF19BE93E5A"
      Directory="INSTALLFOLDER">
      <File Id="RsVisa32.dll" Name="RsVisa32.dll"
        Source="..\RsaToolbox\Bus\Visa\RsVisa32.dll" KeyPath="yes" />
    </Component>
    <Component Id="QCustomPlots" Guid="BBB8103F-4D74-48AB-9767-02887C01E3EF"
      Directory="INSTALLFOLDER">
      <File Id="qcustomplot.dll" Name="qcustomplot.dll"
        Source="..\RsaToolbox\QCustomPlot\qcustomplot.dll" KeyPath="yes" />
    </Component>
    <Component Id="QuaZip" Guid="3FA61BEF-4A95-4AF4-A719-DE448A0C6E11"
      Directory="INSTALLFOLDER">
      <File Id="quazip.dll" Name="quazip.dll"
        Source="..\RsaToolbox\QuaZIP\quazip.dll" KeyPath="yes" />
      <File Id="zlib1.dll" Name="zlib1.dll"
        Source="..\RsaToolbox\QuaZIP\ZLib\zlib1.dll" />
    </Component>
    <Component Id="MsvcRuntime" Guid="AAAB88D4-FCC5-47E4-B020-6D7B25FAC0A1"
      Directory="INSTALLFOLDER">
      <File Id="msvcr100.dll" Name="msvcr100.dll"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Msvc2010_32\msvcr100.dll" KeyPath="yes" />
      <File Id="msvcp100.dll" Name="msvcp100.dll"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Msvc2010_32\msvcp100.dll" />
    </Component>
    <Component Id="QtRuntime" Guid="E5FE140E-C688-4F54-97A2-34F7BEF4E596"
      Directory="INSTALLFOLDER">
      <File Id="Qt5Core.dll" Name="Qt5Core.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Core.dll" KeyPath="yes" />
      <File Id="Qt5Gui.dll" Name="Qt5Gui.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Gui.dll" />
      <File Id="Qt5Widgets.dll" Name="Qt5Widgets.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Widgets.dll" />
      <File Id="Qt5Network.dll" Name="Qt5Network.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Network.dll" />
      <File Id="Qt5PrintSupport.dll" Name="Qt5PrintSupport.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5PrintSupport.dll" />
      <File Id="libGLESv2.dll" Name="libGLESv2.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\libGLESv2.dll" />
      <File Id="libEGL.dll" Name="libEGL.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\libEGL.dll" />
      <File Id="D3DCompiler_43.dll" Name="D3DCompiler_43.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\D3DCompiler_43.dll" />
      <File Id="icudt51.dll" Name="icudt51.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\icudt51.dll" />
      <File Id="icuin51.dll" Name="icuin51.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\icuin51.dll" />
      <File Id="icuuc51.dll" Name="icuuc51.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\icuuc51.dll" />
    </Component>
    <Component Id="QtPlatformPlugin" Guid="CF7D7E6A-79F6-4161-9A34-52865CB2FBE0"
      Directory="PlatformsFolder">
      <File Id="qwindows.dll" Name="qwindows.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\..\plugins\platforms\qwindows.dll" KeyPath="yes" />
    </Component>
    <Component Id="LogsAndSettings" Guid="15E75666-2890-47FF-8290-D2E0E8929F60"
      Directory="MyAppDataFolder" KeyPath="yes">
      <CreateFolder Directory="SettingsFolder" />
      <RemoveFile Id="PurgeLogs"
        Name="*.*" On="uninstall" />
      <RemoveFile Id="PurgeSettings"
        Directory="SettingsFolder"
        Name="*.*" On="uninstall" />
      <RemoveFolder Id="RemoveSettingsFolder"
      Directory="SettingsFolder" On="uninstall" />
    </Component>
    <Component Id="ShortcutsComponent" Guid="1DBB9BA3-B4A5-4D25-ADCC-973E0BFAFCD0"
      Directory="ApplicationStartMenuFolder">
      <RegistryKey Root="HKCU"
        Key="Software\Rohde-Schwarz\R&amp;S PA Compression Test\Uninstall">
        <RegistryValue
          Value="KeyPath for uninstall shortcut"
          Type="string" KeyPath="yes" />
      </RegistryKey>
      <Shortcut Id="AppShortcut" Name="R&amp;S PA Compression Test"
        Directory="ApplicationStartMenuFolder"
        Description="Uses a Rohde &amp; Schwarz VNA to measure the compression point of an amplifier"
        Icon="Rs.ico"
        WorkingDirectory="INSTALLFOLDER"
        Target="[INSTALLFOLDER]\R&amp;S PA Compression Test.exe" />
      <Shortcut Id="LogsShortcut" Name="Logs"
        Target="[WindowsFolder]explorer.exe" Arguments="&quot;[MyAppDataFolder]&quot;" />
      <Shortcut Id="UninstallShortcut" Name="Uninstall"
        Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" />
      <RemoveFolder Id="RemoveStartShortcutsFolder"
        Directory="ApplicationStartMenuFolder" On="uninstall" />
    </Component>
  </Fragment>
</Wix>
