<?xml version="1.0" encoding="UTF-8"?>
<!-- Rsa Create Installer Template                 -->
<!-- Name: RsaToolbox DirectX with About Link      -->
<!-- Ver:  1.0                                     -->
<!-- Guid: d99c6279-2616-4d0d-9eb8-fc9baaa5943f    -->
<!-- Instruments: Vna(Zva, Znb)                    -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="A86D7B7C-06FA-4484-907C-3D8CECA3AB3A" Name="R&amp;S PA Compression Test" Language="1033"
    Version="2.0.4" Manufacturer="Rohde &amp; Schwarz"
    UpgradeCode="699b0972-99de-4286-9686-b8cea86158b9">
		
		<Package InstallerVersion="200"
      Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\R&amp;S Terms and Conditions for Royalty-Free Products.rtf" />
    <WixVariable Id="WixUIBannerBmp"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Images\RsBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Images\RsDialog.bmp" />

    <Feature Id="AppFeature" Title="R&amp;S PA Compression Test"
      Description="Measure the compression point of a Power Amplifier" Level="1">
      <ComponentRef Id="ExecutableComponent" />
      <ComponentRef Id="QtRuntime" />
      <ComponentRef Id="QtPlatformPlugin" />
      <ComponentRef Id="Licenses" />
      <ComponentRef Id="LogsAndSettings" />
      <ComponentRef Id="MsvcRuntime" />
      <ComponentRef Id="QCustomPlots" />
      <ComponentRef Id="QuaZip" />
      <ComponentRef Id="RsVisa" />
      <ComponentRef Id="ShortcutsComponent" />
    </Feature>
    
    <Property Id="ARPPRODUCTICON"
      Value="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Icons\Rs.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>

  <!-- Directory structure -->
  <Fragment>
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />
    <SetDirectory Id="ZNBExternalToolsFolder"
      Value="[WindowsVolume]\Users\Public\Documents\Rohde-Schwarz\Vna\External Tools\" />
    <SetDirectory Id="ZVAExternalToolsFolder"
      Value="[WindowsVolume]\Rohde&amp;Schwarz\Nwa\External Tools\" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="ProgramFilesFolder">
          <Directory Id="CompanyFilesFolder" Name="Rohde-Schwarz">
            <Directory Id="INSTALLFOLDER" Name="PA Compression Test">
              <Directory Id="PlatformsFolder" Name="platforms" />
              <Directory Id="LicensesFolder" Name="Licenses" />
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationStartMenuFolder"
            Name="R&amp;S PA Compression Test" />
        </Directory>
      </Directory>
      <Directory Id="ZNBExternalToolsFolder" />
      <Directory Id="ZVAExternalToolsFolder" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CompanyDataFolder" Name="Rohde-Schwarz">
          <Directory Id="MyAppDataFolder" Name="PA Compression Test">
            <Directory Id="SettingsFolder" Name="Settings" />
          </Directory>
        </Directory>
      </Directory>
      </Directory>
  </Fragment>

  <!-- Application Components -->
  <Fragment>
    <!-- Application files -->
    <Icon Id="Rs.ico" SourceFile="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer/Icons/Rs.ico" />
    <Component Id="ExecutableComponent" Guid="B1D78472-7764-4396-B514-767E025D803D"
      Directory="INSTALLFOLDER">
      <File Id="AppExecutable" Name="R&amp;S PA Compression Test.exe"
        Source="C:\Users\lalic\Documents\Qt\build-PACompressionTest-Desktop_Qt_5_2_1_MSVC2010_32bit-Release\release\PACompressionTest.exe" KeyPath="yes">
        <Shortcut Id="ZNBShortcut" Name="PA Compression"
          Directory="ZNBExternalToolsFolder" Advertise="yes" Icon="Rs.ico" />
        <Shortcut Id="ZVAShortcut" Name="PA Compression"
          Directory="ZVAExternalToolsFolder" Advertise="yes" Icon="Rs.ico" />
      </File>
    </Component>
    <Component Id="Licenses" Guid="79AEEB40-3368-429D-80F7-6175C3E9B8B3" Directory="LicensesFolder">
      <File Id="RsaLicense"
        Name="R&amp;S Terms and Conditions for Royalty-Free Products.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\R&amp;S Terms and Conditions for Royalty-Free Products.txt"
        KeyPath="yes" />
      <File Id="MsvcLicense"
        Name="Microsoft Visual C++ 2010 License.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\Microsoft Visual C++ 2010 License.txt" />
      <File Id="QCustomPlotLicense"
        Name="QCustomPlot - GNU General Public License Version 3.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\QCustomPlot - GNU General Public License Version 3.txt" />
      <File Id="Qt5License"
        Name="Qt 5 - GNU Lesser General Public License Version 2.1.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\Qt 5 - GNU Lesser General Public License Version 2.1.txt" />
      <File Id="QuaZIPLicense"
        Name="QuaZip - GNU General Public License v2.1.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\QuaZip - GNU General Public License v2.1.txt" />
      <File Id="ZLibLicense"
        Name="ZLib Copyright and Terms and Conditions.txt"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Licenses\ZLib Copyright and Terms and Conditions.txt" />
    </Component>
    <Component Id="RsVisa" Guid="9E69C654-9449-4F4B-B1A7-3E5F3283D0CE"
      Directory="INSTALLFOLDER">
      <File Id="RsVisa32.dll" Name="RsVisa32.dll"
        Source="..\RsaToolbox\Bus\Visa\RsVisa32.dll" KeyPath="yes" />
    </Component>
    <Component Id="QCustomPlots" Guid="1E1A6D04-3A4A-4B35-8B9B-E2E50CA5B9F5"
      Directory="INSTALLFOLDER">
    	<File Id="qcustomplot.dll" Name="qcustomplot.dll"
        Source="..\RsaToolbox\QCustomPlot\qcustomplot.dll" KeyPath="yes" />
    </Component>
    <Component Id="QuaZip" Guid="0178F077-C64A-43AF-B175-FE4A0F528E2B"
      Directory="INSTALLFOLDER">
      <File Id="quazip.dll" Name="quazip.dll"
        Source="..\RsaToolbox\QuaZIP\quazip.dll" KeyPath="yes" />
      <File Id="zlib1.dll" Name="zlib1.dll"
        Source="..\RsaToolbox\QuaZIP\ZLib\zlib1.dll" />
    </Component>
    <Component Id="MsvcRuntime" Guid="4E3014F1-6E37-4718-B554-39A7AF046D1E"
      Directory="INSTALLFOLDER">
      <File Id="msvcr100.dll" Name="msvcr100.dll"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Msvc2010_32\msvcr100.dll" KeyPath="yes" />
      <File Id="msvcp100.dll" Name="msvcp100.dll"
        Source="C:\Program Files (x86)\Rohde-Schwarz\RSA Create Installer\Msvc2010_32\msvcp100.dll" />
    </Component>
    <Component Id="QtRuntime" Guid="AD50869F-059C-4E96-87F0-7DAAEA8C9E30"
      Directory="INSTALLFOLDER">
      <File Id="Qt5Core.dll" Name="Qt5Core.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Core.dll" KeyPath="yes" />
      <File Id="Qt5Gui.dll" Name="Qt5Gui.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Gui.dll" />
      <File Id="Qt5Widgets.dll" Name="Qt5Widgets.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Widgets.dll" />
      <File Id="Qt5Network.dll" Name="Qt5Network.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5Network.dll" />
      <File Id="Qt5PrintSupport.dll" Name="Qt5PrintSupport.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\Qt5PrintSupport.dll" />
      <File Id="libGLESv2.dll" Name="libGLESv2.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\libGLESv2.dll" />
      <File Id="libEGL.dll" Name="libEGL.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\libEGL.dll" />
      <File Id="D3DCompiler_43.dll" Name="D3DCompiler_43.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\D3DCompiler_43.dll" />
      <File Id="icudt51.dll" Name="icudt51.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\icudt51.dll" />
      <File Id="icuin51.dll" Name="icuin51.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\icuin51.dll" />
      <File Id="icuuc51.dll" Name="icuuc51.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\icuuc51.dll" />
    </Component>
    <Component Id="QtPlatformPlugin" Guid="9EF5F314-F05F-4578-8540-92B85055EF94"
      Directory="PlatformsFolder">
      <File Id="qwindows.dll" Name="qwindows.dll"
        Source="C:\Qt\5.2.1\msvc2010\bin\..\plugins\platforms\qwindows.dll" KeyPath="yes" />
    </Component>
    <Component Id="LogsAndSettings" Guid="029E0179-1CC3-49C8-B9FE-44903E628958"
      Directory="MyAppDataFolder" KeyPath="yes">
      <CreateFolder Directory="SettingsFolder" />
      <RemoveFile Id="PurgeLogs"
        Name="*.*" On="uninstall" />
      <RemoveFile Id="PurgeSettings"
        Directory="SettingsFolder"
        Name="*.*" On="uninstall" />
      <RemoveFolder Id="RemoveSettingsFolder"
      Directory="SettingsFolder" On="uninstall" />
    </Component>
    <Component Id="ShortcutsComponent" Guid="BCA447D3-615E-4E3A-AEF5-3CBD10675E1F"
      Directory="ApplicationStartMenuFolder">
      <RegistryKey Root="HKCU"
        Key="Software\Rohde-Schwarz\R&amp;S PA Compression Test\Uninstall">
        <RegistryValue
          Value="KeyPath for uninstall shortcut"
          Type="string" KeyPath="yes" />
      </RegistryKey>
      <Shortcut Id="AppShortcut" Name="R&amp;S PA Compression Test"
        Directory="ApplicationStartMenuFolder"
        Description="Measure the compression point of a Power Amplifier"
        Icon="Rs.ico"
        WorkingDirectory="INSTALLFOLDER"
        Target="[INSTALLFOLDER]\R&amp;S PA Compression Test.exe" />
      <Shortcut Id="AboutShortcut" Name="About"
        Directory="ApplicationStartMenuFolder"
        Description="Licensing and contact information"
        Icon="Rs.ico"
        WorkingDirectory="INSTALLFOLDER"
        Target="[INSTALLFOLDER]\R&amp;S PA Compression Test.exe" Arguments="-about" />
      <Shortcut Id="LogsShortcut" Name="Logs"
        Target="[WindowsFolder]explorer.exe" Arguments="&quot;[MyAppDataFolder]&quot;" />
      <Shortcut Id="UninstallShortcut" Name="Uninstall"
        Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" />
      <RemoveFolder Id="RemoveStartShortcutsFolder"
        Directory="ApplicationStartMenuFolder" On="uninstall" />
    </Component>
  </Fragment>
</Wix>
