<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
    Id="*"
    Language="1033"
    Name="R&amp;S PA Compression Test"
    Version="2.3.0"
    Manufacturer="Rohde &amp; Schwarz"
    UpgradeCode="699b0972-99de-4286-9686-b8cea86158b9"
  >
    <Package
      Platform="x64"
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
    />
    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
    />

    <MediaTemplate EmbedCab="yes" />

    <Icon        Id="icon.ico"         SourceFile="icon.ico" />
    <WixVariable Id="WixUILicenseRtf"  Value="LICENSE.rtf"   />
    <WixVariable Id="WixUIBannerBmp"   Value="banner.bmp"    />
    <WixVariable Id="WixUIDialogBmp"   Value="dialog.bmp"    />
    <Property    Id="ARPPRODUCTICON"   Value="icon.ico"      />
    <Property    Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef       Id="WixUI_InstallDir" />

    <Feature
      Id="PACompressionTest"
      Title="R&amp;S PA Compression Test"
      Description="Application"
      Level="1"
    >
      <ComponentRef Id="License"         />
      <ComponentRef Id="d3dcompiler47"   />
      <ComponentRef Id="libEGL"          />
      <ComponentRef Id="libgccsseh1"     />
      <ComponentRef Id="libGLESv2"       />
      <ComponentRef Id="libqcustomplot"  />
      <ComponentRef Id="libquazip1qt5"   />
      <ComponentRef Id="libstdcpp6"      />
      <ComponentRef Id="libwinpthread1"  />
      <ComponentRef Id="opengl32sw"      />
      <ComponentRef Id="qwindows"        />
      <ComponentRef Id="Qt5Core"         />
      <ComponentRef Id="Qt5Gui"          />
      <ComponentRef Id="Qt5Network"         />
      <ComponentRef Id="Qt5PrintSupport" />
      <ComponentRef Id="Qt5Test"         />
      <ComponentRef Id="Qt5Widgets"      />
      <ComponentRef Id="RsVisa64"        />
      <ComponentRef Id="Executable"      />
      <ComponentRef Id="SettingsFolder"  />
      <ComponentRef Id="ZnbShortcut"     />
      <ComponentRef Id="ZvaShortcut"     />
      <ComponentRef Id="StartShortcuts"  />
    </Feature>
  </Product>

  <!-- Directories -->
  <Fragment>
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]"/>
    <SetDirectory Id="ZnbExternalTools" Value="[WindowsVolume]\Rohde&amp;Schwarz\Nwa\External Tools"/>
    <SetDirectory Id="ZvaExternalTools" Value="[WindowsVolume]\Users\Public\Documents\Rohde-Schwarz\Vna\External Tools"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ZnbExternalTools"/>
      <Directory Id="ZvaExternalTools"/>
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="ProgramFiles64Folder">
          <Directory Id="CompanyFilesFolder" Name="Rohde-Schwarz">
            <Directory Id="INSTALLFOLDER" Name="PA Compression Test">
              <Directory Id="Platforms" Name="Platforms"/>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="StartMenuFolder">
          <Directory Id="StartFolder" Name="R&amp;S PA Compression Test"/>
        </Directory>
        <Directory Id="CommonAppDataFolder">
          <Directory Id="CompanyDataFolder" Name="Rohde-Schwarz">
            <Directory Id="MyAppDataFolder" Name="PA Compression Test">
              <Directory Id="Settings" Name="Settings"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <!-- Component Definitions -->
  <Fragment>
    <Component Id="License" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\LICENSE.txt" KeyPath="yes"/>
    </Component>
    <Component Id="libgccsseh1" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\libgcc_s_seh-1.dll" KeyPath="yes"/>
    </Component>
    <Component Id="libstdcpp6" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\libstdc++-6.dll" KeyPath="yes"/>
    </Component>
    <Component Id="libwinpthread1" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\libwinpthread-1.dll" KeyPath="yes"/>
    </Component>
    <Component Id="opengl32sw" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\opengl32sw.dll" KeyPath="yes"/>
    </Component>
    <Component Id="qwindows" Guid="*" Directory="Platforms" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\Platforms\qwindows.dll" KeyPath="yes"/>
    </Component>
    <Component Id="d3dcompiler47" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\d3dcompiler_47.dll" KeyPath="yes"/>
    </Component>
    <Component Id="libEGL" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\libEGL.dll" KeyPath="yes"/>
    </Component>
    <Component Id="libGLESv2" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\libGLESv2.dll" KeyPath="yes"/>
    </Component>
    <Component Id="Qt5Core" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\Qt5Core.dll" KeyPath="yes"/>
    </Component>
    <Component Id="Qt5Gui" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\Qt5Gui.dll" KeyPath="yes"/>
    </Component>
    <Component Id="Qt5PrintSupport" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\Qt5PrintSupport.dll" KeyPath="yes"/>
    </Component>
    <Component Id="Qt5Network" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\Qt5Network.dll" KeyPath="yes"/>
    </Component>
    <Component Id="Qt5Test" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\Qt5Test.dll" KeyPath="yes"/>
    </Component>
    <Component Id="Qt5Widgets" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\Qt5Widgets.dll" KeyPath="yes"/>
    </Component>
    <Component Id="libqcustomplot" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\libqcustomplot.dll" KeyPath="yes"/>
    </Component>
    <Component Id="libquazip1qt5" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\libquazip1-qt5.dll" KeyPath="yes"/>
    </Component>
    <Component Id="RsVisa64" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\RsVisa64.dll" KeyPath="yes"/>
    </Component>
    <Component Id="Executable" Guid="*" Directory="INSTALLFOLDER" Win64="yes">
      <File Name="R&amp;S PA Compression Test.exe" Source="ProgramFiles\Rohde-Schwarz\PA Compression Test\PACompressionTest.exe" KeyPath="yes"/>
    </Component>
    <Component Id="SettingsFolder" Guid="*" Directory="MyAppDataFolder" Win64="yes">
      <RegistryKey Root="HKCU" Key="Software\Rohde-Schwarz\PA Compression Test\SettingsFolder">
        <RegistryValue Value="[MyAppDataFolder]\Settings" Type="string" KeyPath="yes"/>
      </RegistryKey>
      <CreateFolder Directory="Settings"/>
      <RemoveFile Id="RemoveSettings" Directory="Settings" Name="*.*" On="uninstall"/>
      <RemoveFile Id="RemoveLogs" Name="*.*" On="uninstall"/>
      <RemoveFolder Id="RemoveSettingsFolder" Directory="Settings" On="uninstall"/>
      <RemoveFolder Id="RemoveMyAppDataFolder" On="uninstall"/>
    </Component>
    <!-- External Tools -->
    <Component Id="ZnbShortcut" Guid="*" Directory="ZnbExternalTools" Win64="yes">
      <RegistryKey Root="HKCU" Key="Software\Rohde-Schwarz\PA Compression Test\ZnbExternalTools">
        <RegistryValue Value="C:\Users\Public\Documents\Rohde-Schwarz\Vna\External Tools\PA Compression Test.lnk" Type="string" KeyPath="yes"/>
      </RegistryKey>
      <Shortcut Id="ZnbShortcutId" Name="PA Compression" Icon="icon.ico" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]\R&amp;S PA Compression Test.exe"/>
    </Component>
    <Component Id="ZvaShortcut" Guid="*" Directory="ZvaExternalTools" Win64="yes">
      <RegistryKey Root="HKCU" Key="Software\Rohde-Schwarz\PA Compression Test\ZvaExternalTools">
        <RegistryValue Value="C:\Rohde&amp;Schwarz\Nwa\External Tools\PA Compression Test.lnk" Type="string" KeyPath="yes"/>
      </RegistryKey>
      <Shortcut Id="ZvaShortcutId" Name="PA Compression" Icon="icon.ico" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]\R&amp;S PA Compression Test.exe"/>
    </Component>
    <!-- Start menu -->
    <Component Id="StartShortcuts" Guid="*" Directory="StartFolder" Win64="yes">
      <RegistryKey Root="HKCU" Key="Software\Rohde-Schwarz\PA Compression Test\StartShortcuts">
        <RegistryValue Value="[StartMenu]\R&amp;S PA Compression Test\*" Type="string" KeyPath="yes"/>
      </RegistryKey>
      <Shortcut Id="AboutShortcut" Name="About" Icon="icon.ico" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]\R&amp;S PA Compression Test.exe" Arguments="-about"/>
      <Shortcut Id="AppShortcut" Name="PA Compression Test" Icon="icon.ico" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]\R&amp;S PA Compression Test.exe"/>
      <Shortcut Id="LogsShortcut" Name="Logs" Icon="icon.ico" WorkingDirectory="INSTALLFOLDER" Target="[WindowsFolder]\explorer.exe" Arguments="&quot;[MyAppDataFolder]&quot;"/>
      <Shortcut Id="UninstallShortcut" Name="Uninstall" Icon="icon.ico" WorkingDirectory="INSTALLFOLDER" Target="[SystemFolder]\msiexec.exe" Arguments="/x [ProductCode]"/>
      <RemoveFolder Id="RemoveStartFolder" Directory="StartFolder" On="uninstall"/>
    </Component>
  </Fragment>
</Wix>
